:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #f6f6f6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
.pd1{
  padding: 1em;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


input::-webkit-input-placeholder {
  /* 修改字体 */
  font-family: Arial, sans-serif;
  /* 修改颜色 */
  color: #cecece;
}
input::-moz-placeholder {
  font-family: Arial, sans-serif;
  color: #cecece;
}
input:-ms-input-placeholder {
  font-family: Arial, sans-serif;
  color: #cecece;
}


.return{
  position: fixed;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  top: 10px;
  left: 10px;
  z-index: 666;
}
.return img{
  max-width: 100%;
  max-height: 100%;
}

.top {
  padding: 3em 1em 0;
}
.title {
  text-align: left;
}
.title h3{
  font-size: 32px;
  margin: 0;
  color: #4d4d4d;
}
.title span{
  color: #b3b3b3;
}